.selectors {
  margin-left: 100px;
}

h2 {
  color: #1d2d44;
  font-size: 36px;
}

h3 {
  color: #748cab;
  font-size: 24px;
}

p {
  color: #000;
  font-size: 16px;
}

.highlight {
  font-size: 16px;
  font-weight: 700;
}

.article p.highlight {
  color: #f44336;
}
